#form {
	border: 1px solid #000000;
}

.loginID {
	border-bottom: 1px solid #000000;
}

#form td {
	border-left: 1px solid #000000;
}

div {
	width: 245px;
	height: 300px
}

div #button {
	float: right;
}